@import '../style.scss';

.changetool-popup{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    padding: 2.5%;
    z-index: 2;
    text-align: center;
    border: 2px solid $primary-color;
    border-radius: 20px;
    background-color: $text-color;
    font-size: 0.9rem;
}

.changetool-popup form{
    text-align: left;
}

.changetool-popup div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}

.changetool-popup form input, select, textarea{
    width: 40%;  
    margin: 1% 1% 1% 1%;
    padding: 8px;
    border: 1px solid $form-border-color;
    border-radius: 10px;
    outline: none;
    color: $screen-text-color;
    font-size: small;
}

.changetool-popup button{
    width: 15%;
    padding: 0.8%;
    margin: 0.5% 1% 0% 1%;
    border: 1px solid $form-border-color;
    border-radius: 10px;
    background-color: $primary-color;
    color: $text-color;
    outline: none;
}

@media only screen and (max-width: 768px) {
    .changetool-popup button{
        width: 30%;
    }
    
}

@media only screen and (max-width: 570px) {
    .changetool-popup{
        top: 30%;
        left: 5%;
        width: 90%;
        font-size: 0.8rem;
        padding: 6%;
    }

    .changetool-popup div{
        margin: 1% 0% 1% 0%;
    }

    .changetool-popup button{
        width: 30%;
    }    
}
