@import '../style.scss';

.inshop-data{
    padding: 2% 0% 1% 0%;
}

.inshop-data span{
    margin: 0% 0% 1% 1%;
    
}

.navigation{
    display: inline-block;
    width: 250px;
    margin: 0% 3% 0% 0%;
    padding: 1%;
    color: $tertiary-color;
    text-decoration: none;
    border: 1px solid $tertiary-color;
    border-radius: 20px;
    text-align: center;
}

a.navigation:hover{
    box-shadow: 1px 1px 2px 2px #ccc;
    background-color: $secondary-color;
    color: $text-color;
    border: 1px solid $text-color;
}

table {
    margin: 1% 0% 0% 1%;
    font-size: 0.9rem;
    overflow-x: scroll;
    overflow-y: scroll;
}

td{
    border: 1px solid $form-border-color;
    padding: 0.5%;
    width: 2%;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem;
}

thead tr{
    background-color: $primary-color;
    color: $text-color;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
    color: #222;
}


.icon{
    margin: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}