@import '../style.scss';

.index-page{
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.index-page a{
    text-decoration: none;
}

.card{
    padding: 2%;
    margin: 1% 0% 1% 0%;
    background-color: $primary-color;
    border: 1px solid $form-border-color;
    border-radius: 10px;
    color: $text-color;
    cursor: pointer;
    font-size: 1.1rem;
};

.card:hover{
    background-color: $secondary-color;
}
  
@media only screen and (max-width: 570px) {
    .index-page p{
        font-size: 0.8rem;
    }
    .card{
        margin: 2% 0% 2% 0%;
        font-size: 0.8rem;
    }
}