@import '../style.scss';

.login-form{
    display: inline-block;
    justify-content: space-around;
    width: 30%;
    margin-left: 35%;
    margin-top: 3%;
}

.login-form p{
    text-align: center;
    color: $screen-text-color;
}

.login-form form{
    padding: 10%;
    border: 1px solid #999;
    border-radius: 10px;
    text-align: center;
    font-size: small;
}

.login-form input{
    width: 90%;
    padding: 2.5%;
    border: 1px solid $form-border-color;
    border-radius: 10px;
    outline: none;
}

.login-form button{
    width: 60%;
    padding: 2%;
    border: 1px solid $form-border-color;
    border-radius: 10px;
    background-color: $primary-color;
    color: $text-color;
    outline: none;
}

.login-form button:hover{
    background-color: $secondary-color;
}

@media only screen and (max-width: 1400px) {
.login-form {
    display: inline-block;
    justify-content: space-around;
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
}
}

@media only screen and (max-width: 1200px) {
.login-form {
    display: inline-block;
    justify-content: space-around;
    width: 56%;
    margin-left: 22%;
    margin-top: 10%;
}
}

@media only screen and (max-width: 992px) {
.login-form {
    display: inline-block;
    justify-content: space-around;
    width: 52%;
    margin-left: 26%;
    margin-top: 10%;
}
}

@media only screen and (max-width: 768px) {
.login-form{
    display: inline-block;
    justify-content: space-around;
    width: 52%;
    margin-left: 26%;
    margin-top: 10%;
}
}


@media only screen and (max-width: 570px) {
.login-form{
    display: inline-block;
    justify-content: space-around;
    width: 86%;
    margin-left: 7%;
    margin-top: 10%;
}
}

  

