@import '../style.scss';

.nav-bar{
    padding: 1%;
    background-color: $secondary-color;
    overflow: hidden;
}

.nav-bar a{
    padding: 1.5% 2% 1.5% 2%;
    text-decoration: none;
    color: $text-color;
}

.nav-bar a:hover{
    text-decoration: underline;
}

a.active{
    background-color: $tertiary-color;
    color: $text-color;
    background-color: $tertiary-color;
 }

