@import '../style.scss';

.tools-shopfloor{
    padding: 2% 0% 1% 0%;
    margin-top: 1.5%;
}

.tools-shopfloor span{
    margin: 0% 0% 1% 1%;
    
}

.navigation{
    display: inline-block;
    width: 150px;
    margin: 0% 3% 0% 0%;
    padding: 1%;
    color: $tertiary-color;
    text-decoration: none;
    border: 1px solid $tertiary-color;
    border-radius: 20px;
    text-align: center;
}

a.navigation:hover{
    box-shadow: 1px 1px 2px 2px #ccc;
    background-color: $secondary-color;
    color: $text-color;
    border: 1px solid $text-color;
}

table {
    margin: 1% 0% 0% 1%;
    font-size: 0.9rem;
    overflow-x: scroll;
    overflow-y: scroll;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
    color: #222;
}

// .table-striped > tbody > tr:nth-child(odd) > td{
//     background-color: #fce4bb;
//  }

td{
    border: 1px solid $form-border-color;
    padding: 0.5%;
    width: 2%;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem;
}

thead tr{
    background-color: $primary-color;
    color: $text-color;
}

.icon{
    margin: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

@import '../style.scss';

.tools-shopfloor button{
    border: 1px solid #fff;
    background-color: $tertiary-color;
    color: $text-color;
    font-size: 0.8rem;
}

.request-btn{
    padding: 10px;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .tools-shopfloor{
        margin-top: 3.5%;
    }
}

@media only screen and (max-width: 570px) {
    table td{
        font-size: 0.8rem;
    }

    .tools-shopfloor button{
        font-size: 0.7rem;
    }

    .tools-shopfloor{
        padding: 2% 0% 1% 0%;
        margin-top: 12%;
    }
    
}